<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletConfig2</display-name>
  
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.haroon.controller.FirstServlet</servlet-class>
    
    <init-param> 
      <param-name>Goat</param-name>
      <param-value>Cristiano Ronaldo Dos Santos Avero</param-value>
    </init-param>
    
    <init-param>
       <param-name>GoatNumber</param-name>
       <param-value>7</param-value>
    </init-param>
    
    <init-param>
      <param-name>Country</param-name>
      <param-value>Portugal</param-value>
    </init-param>
    
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.haroon.controller.SecondServlet</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  
 
</web-app>