<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletContextApp</display-name>
  
  <context-param>
   <param-name>jdbcUrl</param-name>
   <param-value>jdbc:mysql://localhost:8081/enterprise_java_batch</param-value>
  </context-param>
  
  <context-param>
   <param-name>userName</param-name>
   <param-value>root</param-value>
  </context-param>
  
  <context-param>
   <param-name>password</param-name>
   <param-value>root123</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>DemoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
</web-app>